.delete__list {
  list-style: none;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
}
.delete__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.delete__userName {
  margin-right: auto;
}
.delete__btn {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  content: '';
  border: none;
  align-self: baseline;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;

  box-shadow: 2px 1px 2px rgb(67, 66, 66);
  transition: all 0.3s ease;
}
.delete__btn:hover,
.delete__btn:focus {
  transform: scale(1.1);
  background-color: #eecfba;
}
